body{
    background-color: #f2f2f2;
}
#loginForm, #addCycleForm{
    margin: auto;
    width: 20%;
}
#loginImg{
    height: 150px;
    margin-top: 4%;
    margin-left: 45%;
}

#alrt{
    margin: 0% 20%;
}

#cycleDiv{
    background-color: #898B5E;
    margin-left: 17%;
    margin-top: 3%;
    width: 1300px;
}
#innerCycleDiv{
    width: 85%;
    height: 100%;
    float: left;
}
#innerCycleImageDiv{

}
#cycleImg{
    width: 100px;
    height: 150px;
}
#curentPage{
    background-color: #337ab7;
    color: white;
}
#pagination-bar{
    margin-top: 0;
}
#userimg{
    width: 250px;
    height: 250px;
}
input[type="file"] {
    display: block;
}
.imageThumb {
    max-height: 75px;
    border: 2px solid;
    padding: 1px;
    cursor: pointer;
}
.pip {
    display: inline-block;
    margin: 10px 10px 0 0;
}
.remove {
    display: block;
    background: #444;
    border: 1px solid black;
    color: white;
    text-align: center;
    cursor: pointer;
}
.remove:hover {
    background: white;
    color: black;
}
.cycle-img-card{
    height: 200px;
}
.search-result{
    padding: 20px 7%;
    min-height: 90vh;
}

.main-container{
    height: 100%;
    min-height: 100vh;
}
.main-search{
    padding: 5%;
}
#search-box{
    width: 400px;
}
.signup-container{
    background-color: transparent;
}
.signup-img{
    display: inline-block;
    width: 300px;
}













