@()

<nav class="navbar-expand-lg navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="@routes.CycleController.index()">CycleInfo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item mr-2">
                <a class="nav-link " href="/profile?id=@session().get("nid")">Profile</a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link =" href="@routes.CycleController.showMyCycles()">My Cycles</a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link" href="@routes.CycleController.addCycle()">Add Cycle</a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link" href="@routes.MarketController.showMyAds()">My Ads</a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link" href="#">Buy Cycles</a>
            </li>
        </ul>
        <form action="@routes.CycleController.showUserSearchResult()" class="form-inline my-2 my-lg-0 ml-5">
            <input class="form-control mr-sm-2" type="search" name="name" id="search-box" placeholder="Search User" aria-label="Search">
        </form>
        <form class="form-inline my-2 my-lg-0 ml-auto" action="@routes.CycleController.logout()">
            <button class="btn btn-outline-white btn-sm my-0" type="submit">Sign Out</button>
        </form>
    </div>
</nav>