@()
@import helper._

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Log in</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/style.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">


    </head>

    <body>



        <nav class="navbar " id="navB">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">CycleInfo</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#"> About</a>
                    </li>
                    <li>
                        <a href="#">Contact Us</a>
                    </li>
                    <li>
                        <a href="#">Help</a>
                    </li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Sign Up</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div>
            <img src="@routes.Assets.versioned("images/login.png")" id="loginImg">
        </div>

        <div id="loginForm">

            <form action="@helper.CSRF(routes.CycleController.login())" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="pass" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Log in</button>
            </form>
        </div>


        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-5">
                        <ul class="list-unstyled list-inline ">
                            <li>
                                <a href="#">Read the blog</a>
                            </li>
                            <li>|</li>
                            <li>
                                <a href="#">Submit</a>
                            </li>
                            <li>|</li>
                            <li>
                                <a href="#">Links</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>




        <h1>
        </h1>

        <script src="@routes.Assets.versioned("js/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/custom.js")" type="text/javascript"></script>
    </body>
